<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <h1>Dashboard</h1>
    <div id="form-container">
        Name &ensp; &ensp; &ensp; &ensp;<%= username %><br />
        Email ID &ensp; &ensp;  <%= emailId %><br />
        Phone no.&ensp; &ensp; <%= phoneno %><br />
        age &ensp; &ensp; &ensp; &ensp; &ensp;  <%= age %> <br/>
        address &ensp; &ensp; &ensp;<%= address %>
    </div>
    <a href="/logout">Logout</a>
</body>
</html>